html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

#board {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-color: black;
}
